
<div class="container">
  <div *ngIf="rows">
  <table class="table table-primary rounded">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">puntuation</th>
        <th scope="col">id</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary" *ngFor="let row of rows">
        <th scope="row">{{row.position}}</th>
        <td>{{row.name}}</td>
        <td>{{row.best_score}}</td>
        <td>{{row.id}}</td>
      </tr>
    </tbody>
  </table>
</div>
